.titulo{
    font-size: 60px;
    text-align: center;
    background-color: #ffffff;
}
.image1{
    width: 150px;
    align-items: left;
    
}
header{
    background-color: #ffffff;
}
body{
    background-color: #ffffff;
}
.imagem2{
 width: 150px;
}
